{
  "jobs": [
    {
      "functionLocation": "/enviosListas.js",
      "functionName": "executarEnvioListasDiariasJob",
      "description": "Envia diariamente às 17h de Brasília as listas do próximo dia útil para as unidades.",
      "executionConfig": {
        "time": "20:00"
      }
    },
    {
      "functionLocation": "/enviosListas.js",
      "functionName": "reprocessarFalhasListasDiariasJob",
      "description": "Reprocessa às 18h de Brasília somente os envios de listas que falharam.",
      "executionConfig": {
        "time": "21:00"
      }
    }
  ]
}